<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <footer class="jumbotron bottom" style="margin-bottom:0;padding-bottom:0;background:#00429a;">
      <p class="float-right" style="color:#ffffff"><a href="#">Back to top</a></p>
      <p style="color:#ffffff">&copy; 2018-2019 </br>IEEE BrainWaves.</p>
      <p style="color:#ffffff"  >Follow us on 
    <a href="https://m.facebook.com/profile.php?id=207891512736563&ref=content_filter" target="_blank"><img src="../assets/Facebook.svg" height="40" width="40"></a>
    <a href=https://instagram.com/ieee_djscoe?utm_source=ig_profile_share&igshid=scb7yc1yklce" target="_blank"><img src="../assets/Instagram.svg " height="40" width="40"> </a>
    <a href="#" target="_blank"><img src="../assets/LinkedIn.svg" height="40" width="40"></a>
    <a href="https://twitter.com/IEEEBrainwaves?s=08" target="_blank"><img src="../assets/Twitter.svg" height="40" width="40"></a>
  </p>
    </footer>

    </div>
  </body>
</html>
