<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <footer class="jumbotron bottom" style="margin-bottom:0;padding-bottom:0;background:#00429a;">
      <p class="float-right" style="color:#ffffff"><a href="#">Back to top</a></p>
      <p style="color:#ffffff">&copy; 2018-2019 </br>IEEE BrainWaves.</p>
      <a class="nav-link nav-social" href="https://www.facebook.com/ieeebrainwaves.dj/"><i class="fa fa-facebook" aria-hidden="false"></i></a>
      <a class="nav-link nav-social" href="https://www.instagram.com/ieee_djscoe/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </footer>

    </div>
  </body>
</html>
