<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="../assets/committee/committee.css">
  <nav class="navbar navbar-expand-md navbar-togglebale-sm navbar-dark fixed-top ooper" style="background:#00429a;" id="top" >
    <div class="logo">
      <img src="/assets/landingpage/ieeemain.png" alt="logo" height="80px" width="80px" style="float:left;">
    </div>
    <a class="navbar-brand" href="/">IEEE BRAINWAVES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ">
        <li class="nav-item home">
          <a class="nav-link" href="/home">Home </a>
        </li>
        <li class="nav-item mentorship">
          <a class="nav-link" href="/mentorship">Mentorship Program</a>
        </li>
        <li class="nav-item industrial">
          <a class="nav-link " href="/industrialvisits">Industrial Visits</a>
        </li>
        <li class="nav-item committee">
          <a class="nav-link " href="/committee">Committee</a>
        </li>
        <li class="nav-item wie">
          <a class="nav-link " href="/wie">WIE</a>
        </li>
        <li class="nav-item wie">
          <a class="nav-link " href="/gallery">Gallery</a>
        </li>
        <li class="nav-item workshops">
          <a class="nav-link " href="/workshops">Workshops</a>
        </li>
        <li class="nav-item newsletter">
          <a class="nav-link " href="/newsletter">Newsletters</a>
        </li>
        <li class="nav-item newsletter">              <!-- newsletter cha css vaperlela aahe #nustasavage-->
          <a class="nav-link " href="/events">Events</a>
        </li>
      </ul>
      <!--<form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      <script type="text/javascript" src="../assets/navbar/navbar.js"></script>
</html>
