<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>IEEE BrainWaves|HOME</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./assets/homepage/homepage.css" rel="stylesheet">
</head>


<body>
<%include partials/navbar.ejs%>

  <div class="jumbotron fluid text-white" style="background: #00429a;" height="70px">
    <div class="container">
      <h1 style="padding-top:50px">Committee 2018-19</h1>
      <p>The Ones Who Make It Happen</p>
    </div>
  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">
      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top " src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Shaunak Galvankar</h3>
            <h5>Chairperson</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">
      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Ashish Acharya</h3>
            <h5>Joint-Chairperson</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">
      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Jatin Dalvi</h3>
            <h5>Vice-Chairperson</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Kajal Shah</h3>
            <h5>Vice-Chairperson</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">
      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Rugved Mhatre</h3>
            <h5>Treasurer</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Asawari Konde</h3>
            <h5>Treasurer</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">
      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Sayli Shivalkar</h3>
            <h5>Secretary</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Janhvi Shah</h3>
            <h5>Secretary</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Chirag Gada</h3>
            <h5>Vice-Chairperson(Media & Infotech)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Neel Mehta</h3>
            <h5>Vice-Chairperson(Media & Infotech)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Marzan Bhatia</h3>
            <h5>Vice-Chairperson(Events)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Swarda Deshmukh</h3>
            <h5>Vice-Chairperson(Events)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Aditya Vora</h3>
            <h5>Vice-Chairperson(Events)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
      </div>

  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">
      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Aman Khairnar</h3>
            <h5>Vice-Chairperson(Events)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Yash Shah</h3>
            <h5>Vice-Chairperson(Events)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Harmin Naik</h3>
            <h5>Vice-Chairperson(Technical)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Dhara Patwa</h3>
            <h5>Vice-Chairperson(Technical)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Sandesh Jain</h3>
            <h5>Vice-Chairperson(Technical)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
      </div>

  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Vijayraj Gohil</h3>
            <h5>Vice-Chairperson(Technical)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Ashish Kanojia</h3>
            <h5>Vice-Chairperson(Technical)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Kaivan Gandhi</h3>
            <h5>Vice-Chairperson(Technical)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Deep Shah</h3>
            <h5>Vice-Chairperson(Technical)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Shreeya Maheshwari</h3>
            <h5>Vice-Chairperson(Research & Collaborations)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Sanjeet Verma</h3>
            <h5>Vice-Chairperson(Research & Collaborations)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Arushi Parekh</h3>
            <h5>Vice-Chairperson(Research & Collaborations)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
      </div>

  </div>

  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Akshat Shah</h3>
            <h5>Vice-Chairperson(Finance)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Risan Vasani</h3>
            <h5>Vice-Chairperson(Finance)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Keval Chedda</h3>
            <h5>Vice-Chairperson(Finance)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
      </div>

  </div>


  <div class="container" style="padding:10px;">
    <div class="row justify-content-center">
      <div class="col-lg-4 ">
        <div class="card" style="width:18rem">
          <img class="card-img-top" src="./assets/committeeimages/shaunak.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h3>Kavya Bhatt</h3>
            <h5>Vice-Chairperson(Editorial)</h5>
            <a href="#" class="btn text-white" style="background:#00429a">Put LinkedIn link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<%include partials/footer.ejs%>


</body>

</html>
