<!DOCTYPE html>
<html>
<head>
	<title>IEEE Brainwaves|events</title>
</head>
<body>
	<%include partials/navbar.ejs%>
	<div class="jumbotron fluid text-white" style="background: #00429a;" height="70px">
 		<div class="container">
   			<h1 style="padding-top:50px">Events</h1>
		</div>
	</div>
</body>
	<%include partials/footer.ejs%>
</html>