<!DOCTYPE html>
<html>
<head>
	<title>IEEE Brainwaves|events</title>
	<link rel="stylesheet" href="../assets/events/events.css">
</head>

<body>
	<%include partials/navbar.ejs%>
	<div class="fluid text-white" style="background: #00429a;" height="70px">
 		<div class="container">
   			<h1 style="padding-top:50px">Events</h1>
		</div>
	</div>
	<div class="wrapper">
	  <h1>Timeline Created With CSS Grid</h1>
	  <div class="timeline">
	    <dl class="timeline--entry">
	      <dt class="timeline--entry__title">Title A</dt>
	      <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
	    </dl>
	    <dl class="timeline--entry">
	      <dt class="timeline--entry__title">Title B</dt>
	      <dd class="timeline--entry__detail"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
	    </dl>
	    <dl class="timeline--entry">
	      <dt class="timeline--entry__title">Title C</dt>
	      <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
	    </dl>
	    <dl class="timeline--entry">
	      <dt class="timeline--entry__title">Title D</dt>
	      <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
	    </dl>
	    <dl class="timeline--entry">
	      <dt class="timeline--entry__title">Title D</dt>
	      <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
	    </dl>
	  </div>
	</div>


</body>
	<%include partials/footer.ejs%>
</html>
