<!DOCTYPE html>
<html>
<head>
	<title>IEEE Brainwaves|events</title>
	<link rel="stylesheet" href="../assets/events/events.css">
</head>

<body>
	<%include partials/navbar.ejs%>
	<div class="jumbotron fluid text-white" style="background: #00429a;" height="70px">
 		<div class="container">
   			<h1 style="padding-top:50px">Events</h1>
		</div>
	</div>
	<div class="wrapper">
	   <div class="timeline">
	    <dl class="timeline--entry">
	      <dt class="timeline--entry__title">January</dt>
	      <dd class="timeline--entry__detail">
					<ol>Workshop on IoT </ol>
					<ol>Industrial Visit at MTNL </ol>
				</dd>
	    </dl>
	    <dl class="timeline--entry">
	      <dt class="timeline--entry__title">February</dt>
	      <dd class="timeline--entry__detail">
						<ol> Membership Drive </ol>
						<ol> Seminar on BlockChain </ol>
						<ol> Workshop on C <br> programming </ol>
				</dd>
	    </dl>
	    <dl class="timeline--entry">
	      <dt class="timeline--entry__title">March</dt>
	      <dd class="timeline--entry__detail">
					<ol>Workshop on Python</ol>
					<ol>Industrial Visit at BARC </ol>
					<ol>Triguni Robotics <br>workshop by Vivek Nar</ol>
				</dd>
	    </dl>


	  </div>
	</div>


</body>
	<%include partials/footer.ejs%>
</html>
