<!doctype html>
<html>

<head>
  <link rel="icon" href="../assets/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:300,600'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css'>

        <link rel="stylesheet" href="../assets/gallery/style.css">
  <title>IEEE BrainWaves|Gallery</title>

</head>
<body>
<%include partials/navbar.ejs%>

<div class="jumbotron fluid text-white" style="background: #00429a;" height="70px">
  <div class="container">
    <h1 style="padding-top:50px">Gallery</h1>
  </div>
</div>
  <article class='gallery'>

  <a class='gallery-link' href='../assets/gallery/triguni1.jpg'>
    <figure class='gallery-image'>
      <img height='1600' src='../assets/gallery/triguni1.jpg' width='1200'>
      <figcaption>Triguni - The Robotics workshop</figcaption>
    </figure>
  </a>

  <a class='gallery-link' href='../assets/gallery/triguni2.jpg'>
    <figure class='gallery-image'>
      <img height='1200' src='../assets/gallery/triguni2.jpg' width='1600'>
      <figcaption>Triguni - The Robotics workshop</figcaption>
    </figure>
  </a>

  <a class='gallery-link' href='../assets/gallery/triguni3.jpg'>
    <figure class='gallery-image'>
      <img height='1200' src='../assets/gallery/triguni3.jpg' width='1600'>
      <figcaption>Triguni - The Robotics workshop</figcaption>
    </figure>
  </a>

  <a class='gallery-link' href='../assets/gallery/triguni4.jpg'>
    <figure class='gallery-image'>
      <img height='1400' src='../assets/gallery/triguni4.jpg' width='1600'>
      <figcaption>Triguni - The Robotics workshop</figcaption>
    </figure>
  </a>
  <a class='gallery-link' href='../assets/gallery/trigunu5.jpg'>
    <figure class='gallery-image'>
      <img height='1600' src='../assets/gallery/trigunu5.jpg' width='1400'>
      <figcaption>Triguni - The Robotics workshop</figcaption>
    </figure>
  </a>

  <a class='gallery-link' href='../assets/gallery/systemdesign.jpg'>
    <figure class='gallery-image'>
      <img height='1400' src='../assets/gallery/systemdesign.jpg' width='1200'>
      <figcaption>SystemDesign</figcaption>
    </figure>
  </a>

  <a class='gallery-link' href='../assets/gallery/prajeetnair.jpg'>
    <figure class='gallery-image'>
      <img height='1200' src='../assets/gallery/prajeetnair.jpg' width='1000'>
      <figcaption>A Seminar By IAS officer Prajeet Nair</figcaption>
    </figure>
  </a>

  <a class='gallery-link' href='../assets/gallery/paneldiscussion.jpeg'>
    <figure class='gallery-image'>
      <img height='1400' src='../assets/gallery/paneldiscussion.jpeg' width='1000'>
      <figcaption>Panel Discussion By Mentors</figcaption>
    </figure>
  </a>

  <a class='gallery-link' href='../assets/gallery/nocellphoneday.jpg'>
    <figure class='gallery-image'>
      <img height='1400' src='../assets/gallery/nocellphoneday.jpg' width='1000'>
      <figcaption>Celebrating No CellPhone Day</figcaption>
    </figure>
  </a>

  <a class='gallery-link' href='../assets/gallery/machinecraft.jpg'>
    <figure class='gallery-image'>
      <img height='1400' src='../assets/gallery/machinecraft.jpg' width='1000'>
      <figcaption>Industrial Visit at MachineCraft</figcaption>
    </figure>
  </a>

  <a class='gallery-link' href='../assets/gallery/machinecraft2.jpg'>
    <figure class='gallery-image'>
      <img height='1400' src='../assets/gallery/machinecraft2.jpg' width='1000'>
      <figcaption>Industrial Visit at MachineCraft</figcaption>
    </figure>
  </a>

<a class='gallery-link' href='../assets/gallery/imaginarium.jpg'>
    <figure class='gallery-image'>
      <img height='1400' src='../assets/gallery/imaginarium.jpg' width='1000'>
      <figcaption>Photo caption</figcaption>
    </figure>
  </a>
  <a class='gallery-link' href='../assets/gallery/ieeebombay.jpeg'>
    <figure class='gallery-image'>
      <img height='1400' src='../assets/gallery/ieeebombay.jpeg' width='1000'>
      <figcaption>IEEEBombay</figcaption>
    </figure>
  </a>

</article>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js'></script>
<script src='../assets/anim/xgrmnr.js'></script>

    <script  src="../assets/anim/index.js"></script>

</body>



</html>
<%include partials/footer.ejs%>
