<!doctype html>
<html>

<head>
  <link rel="icon" href="../assets/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:300,600'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css'>

        <link rel="stylesheet" href="../assets/gallery/style.css">
  <title>IEEE BrainWaves|Gallery</title>

</head>
<body>
<%include partials/navbar.ejs%>

<div class="jumbotron fluid text-white" style="background: #00429a;" height="70px">
  <div class="container">
    <h1 style="padding-top:50px">Gallery</h1>
  </div>
</div>
  <article class='gallery'>
  <a class='gallery-link' href='https://unsplash.it/1000/1400?image=1081'>
    <figure class='gallery-image'>
      <figcaption>Photo caption</figcaption>
    </figure>
  </   <img height='1400' src='../assets/gallery/nocellphoneday.jpg' width='1000'>
   a>
  <a class='gallery-link' href='https://unsplash.it/1200/1600?image=1014'>
    <figure class='gallery-image'>
      <img height='1600' src='https://unsplash.it/1200/1600?image=1014' width='1200'>
      <figcaption>Photo caption</figcaption>
    </figure>
  </a>
  <a class='gallery-link' href='https://unsplash.it/1600/1200?image=267'>
    <figure class='gallery-image'>
      <img height='1200' src='../assets/gallery/vntriguni.jpg' width='1600'>
      <figcaption>Photo caption</figcaption>
    </figure>
  </a>
  <a class='gallery-link' href='https://unsplash.it/1600/1200?image=266'>
    <figure class='gallery-image'>
      <img height='1200' src='../assets/gallery/tguni.jpg' width='1600'>
      <figcaption>Photo caption</figcaption>
    </figure>
  </a>
  <a class='gallery-link' href='https://unsplash.it/1600/1400?image=634'>
    <figure class='gallery-image'>
      <img height='1400' src='../assets/gallery/tguni3.jpg' width='1600'>
      <figcaption>Photo caption</figcaption>
    </figure>
  </a>
  <a class='gallery-link' href='https://unsplash.it/1400/1600?image=923'>
    <figure class='gallery-image'>
      <img height='1600' src='../assets/gallery/tguni4.jpg' width='1400'>
      <figcaption>Photo caption</figcaption>
    </figure>
  </a>
  <a class='gallery-link' href='https://unsplash.it/1200/1400?image=682'>
    <figure class='gallery-image'>
      <img height='1400' src='../assets/gallery/vntriguni2.jpg' width='1200'>
      <figcaption>Photo caption</figcaption>
    </figure>
  </a>
  <a class='gallery-link' href='https://unsplash.it/1000/1200?image=173'>
    <figure class='gallery-image'>
      <img height='1200' src='https://unsplash.it/1000/1200?image=173' width='1000'>
      <figcaption>Photo caption</figcaption>
    </figure>
  </a>
  <a class='gallery-link' href='https://unsplash.it/1000/1400?image=943'>
    <figure class='gallery-image'>
      <img height='1400' src='https://unsplash.it/1000/1400?image=943' width='1000'>
      <figcaption>Photo caption</figcaption>
    </figure>
  </a>
</article>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js'></script>
<script src='../assets/anim/xgrmnr.js'></script>

    <script  src="../assets/anim/index.js"></script>

</body>



</html>
<%include partials/footer.ejs%>
