<!doctype html>
<html>

<head>
  <link rel="icon" href="../assets/favicon.png">

  <title>IEEE BrainWaves|Gallery</title>

</head>
<%include partials/navbar.ejs%>

<div class="jumbotron fluid text-white" style="background: #00429a;" height="70px">
  <div class="container">
    <h1 style="padding-top:50px">Gallery</h1>
  </div>
</div>
</html>
<%include partials/footer.ejs%>
