<%include partials/navbar.ejs%>

<div class="jumbotron fluid text-white" style="background: #00429a;" height="70px">
  <div class="container">
    <h1 style="padding-top:50px">Projects</h1>
    <p style="padding-top:20px">Practically Sound</p>
  </div>
</div>

<%include partials/footer.ejs%>
