<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../assets/favicon.png">

  <title>IEEE BrainWaves|Industrial visit</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./assets/homepage/homepage.css" rel="stylesheet">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-9124490403277171",
      enable_page_level_ads: true
    });
  </script>
  <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
  </script>
</head>


<body>
<%include partials/navbar.ejs%>

  <div class="jumbotron fluid text-white" style="background: #00429a;" height="70px">
    <div class="container">
      <h1 style="padding-top:50px">Industrial Visits</h1>
      <p >The industry Rules</p>
    </div>
  </div>
<div class="container">


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">MachineCraft.Org<span class="text-muted"></span></h2>
      <p class="lead">An Industrial visit to Machinecaft.org, Mira Road (East) was organized by the IEEE Committee of Dwarkadas J. Sanghvi College Of Engineering on Tuesday, 23rd January,2018.
The purpose of the visit was to enhance industry exposure of the students and to get practical insights into manufacturing procedures. The committee visited the company to interact with the machine Industry and to understand current market scenarios, latest demanding technologies & criteria for selection etc.
Machinecraft was started in 1980 by Mr. Bhanuchandra Doshi, polymer chemist from UDCT, Mumbai. The company had it’s humble beginnings in the 80s when vacuum forming machines were introduced in India. The company grew at large and started using modern control systems and techniques with the advent of the second generation in the family company. Machinecraft has continually innovated and introduced forming machinery in India and have participated in global fairs like the K fair, Plastindia and Plastivision.
The company’s manufacturing is basically divided into manufacturing of the thick sheet and the thin sheet plastic producing machineries. Students were given tour of the factory by Mr. Rushabh Doshi. A brief introduction about the machine classifications and the overall machine processing units was delivered. Various pneumatic and hydraulic components were well explained to which the students were able to experience the real working of such systems that they had studied in the instrumentation subjects.
The company has come up with the advance thermoforming technique to manufacture machines that deliver accurate and high end results.Now, what exactly is thermoforming?
Thermoforming is a manufacturing process where a plastic sheet is heated to a pliable forming temperature, formed to a specific shape in a mold, and trimmed to create a usable product. The sheet, or “film” when referring to thinner gauges and certain material types, is heated in an oven to a high-enough temperature that permits it to be stretched into or onto a mold and cooled to a finished shape. Its simplified version is vacuum forming. This moulding process was well demonstrated and explained to the students. Thermoforming is usually used to make large parts that have small batch size instead of Injection Moulding.
The INLINE Series by Machinecraft.org has been designed to form thin sheet products using vacuum and pressure forming technologies. Machinecraft’s INLINE Series is a precision, high-speed continuous thermoforming machine in a compact and powerful package developed for the international thermoforming industry. Available with 3 or 4 station models: the stations being for forming, optional holing, steel rule punching and stacking. The machineries has it’s application forming a wide variety of materials — such as PVC, PS, APET and PP.
The company also has its own CNC machine. The students were shown a basic demo as on how the machine works. CNC are a contrast to machines that are manually controlled by hand wheels or levers, or mechanically automated by cams alone. The company produces their solid mechanical parts and components in the CNCs which are pre-loaded with a program.
The students got benefited in terms of the technical details provided by the organization on the modern manufacturing machineries and self-automation.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/homepage/machinecraftiv.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Electronic Devices Pvt Ltd <span class="text-muted">Expert Advice.</span></h2>
      <p class="lead">IEEE Brainwaves conducted an industrial visit to Electronics Devices Pvt. Ltd. , Andheri (East) on 16th February 2018. It manufactures high frequency dielectric and induction heating equipments.
An introductory session on power electronics was delivered by Dr. A. K. Paul wherein he discussed about a number of high end devices and their latest applications. Then the students were taken for a visit to the industrial ground of the industry..
Electronics Devices was established in 1974 by two qualified and hard working engineers to indigenously produce High Frequency Dielectric and Induction heating equipments. The first ever fully air cooled machine in India was developed and supplied by Electronic Devices in the year 2003. As per customer’s requirements features were added for monitoring & diagnosis. Today they can boast of providing all the features available with any induction cap sealer available in the world. Now what is induction cap sealing?Maintaining a tamper resistant, air tight and leak proof seal on packaged goods is foremost for packagers concerned with preserving the integrity of their products. Induction cap sealing system, empowers packagers to seal from 10 to 120 mm closure sizes at desired line speeds. Induction Cap Sealing Machines were developed by us to cater to the requirement of the Packaging Industry.
The company is also into manufacturing of the induction heating applications The process relies on induced electrical currents within the material to produce heat. Although the basic principles of induction are well known, modern advances in solid state technology have made induction heating a remarkably simple, cost-effective heating method for applications which involve joining, treating, heating and materials testing.Electronic Devices is an established name in the field of manufacturing high quality Induction Heating Equipments covering very wide range of power output at almost any output frequency. The company is capable of meeting the application challenges in this field that covers equipment with Thyristors, Electron Tubes, Insulated Gate Bipolar Transistors, MOSFET’s etc.
The students got benefited in terms of the technical details provided by the organization on the modern manufacturing machineries and power devices applications.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/homepage/electronicdevices.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Imaginarium <span class="text-muted"></span></h2>
      <p class="lead">Imaginarium is India's largest Rapid Prototyping and Rapid Manufacturing Center. Our visit there was assisted by Abhishek Pathkar, who is an employee of Imaginarium and an alumnus of our college. They provide prototypes to an assortment of industries from jewellery, engineering, automotive, architecture, consumer goods, etc.
The students were given in depth knowledge about manufacturing of various goods and the how the machines were designed and work. Each machine was designed for a different task .A variety of goods right from stationary to gold and silver jewellery are produced there. Overall it was a very good experience for the students as they were introduced to the artistic side of engineering.
The IV was open for all interested IEEE MEMBERS.30 IEEE members visited Imaginarium accompanied by the faculty member Prof. Vivek Nar.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/homepage/imaginarium.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Endress Hauser <span class="text-muted"></span></h2>
      <p class="lead">The students that are members of IEEE strive to provide various programs as part of Continuous Improvement program and Academic- Industry interaction. Our aim is to give the students exposure to current best practices in the industry. Endress+Hauser Wetzer a German company, one of the leading producers of temperature measurement, temperature engineered solutions and system products worldwide.
It began with the students being briefed about everything related to the company and the activities at the Aurangabad factory. They were then taken for a round of the factory in which each of the manufacturing process was shown to them and explained as to why and how the process is carried out. This was a very interactive and interesting session and the students asked various questions to the experts which were catered to very well. This session generated a lot of interest in the students related to the manufacturing field. Following this there was an orientation given to the students regarding the work culture, ethics, beliefs, objectives, achievements etc of the company.
The seminar was regarding the 5S and kaizen, a Japanese business philosophy of continuous improvement of working practices, personal efficiency, etc. A 5 S program focuses on having visual order, organisation, cleanliness and standardisation. The IV was open for all interested IEEE MEMBERS 27 IEEE members visited accompanied by the faculty members Prof. Mayur Parulekar and Prof. Vivek Nar.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/homepage/hausser.jpg" alt="Generic placeholder image">
    </div>
  </div>
<div class="container">


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Infosys<span class="text-muted"></span></h2>
      <p class="lead">The students of T.E visited the Infosys Pune Campus on March 15th, 2019 for an industrial visit. They were accompanied by Prof. Mayur Parulekar and Prof. Niharika Malivar. Infosys which is a global leader in technology service and consulting firm is located in Hinjewadi IT park and is spread across 114 acres and can accommodate several thousands of employees and provides the best of facilities. The students attended two seminars on IoT which were very informative and gave the students a good exposure about the life at Infosys and how the work culture there  helps in the overall development of  any employee. The seminar was followed with some fun filled activities and quiz. The students were also given an opportunity to interact with the staff there and gain more insight about their work culture. Overall the experience was very productive and gave the students a good opportunity to learn.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/workshop/infosys.jpg" alt="Generic placeholder image">
    </div>
  </div>


</div>
<%include partials/footer.ejs%>

<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-9124490403277171">
</amp-auto-ads>
</body>

</html>
