<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../assets/favicon.png">

  <title>IEEE BrainWaves|Mentorship</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./assets/homepage/homepage.css" rel="stylesheet">
</head>


<body>
<%include partials/navbar.ejs%>
  <div class="jumbotron fluid text-white" style="background: #00429a;" >
    <div class="container">
      <h1 style="padding-top:50px">Mentorship Program</h1>
      <p></p>
    </div>
  </div>
<div class="container">

<div class="container">
<strong>
  <p style="padding:30px;font-style:bold;">The IEEE Mentorship Program is designed to connect 3rd year students with DJSCOE alumni, and they in turn pass on the knowledge to the 2nd year students. Allowing them the opportunity to gain valuable experience and advice for career development.
The relationship between mentors and mentees is viewed as a partnership and the length of each Mentor match is approximately 6 months. The Mentorship Program is not intended as a job placement service for students, but is offered as a tool for students seeking career path advice from successful and experienced DJSCOE alumni.</p>
</strong>
</div>

  <div class="row featurette" >
    <div class="col-md-7">
      <h2 class="featurette-heading" id = "Ranveer"> Ranveer Allahbadia <span class="text-muted">BEER BICEPS</span></h2>
      <p class="lead">Ranveer Allahbadia, the current YouTube sensation has taken the internet by storm with his encouraging fitness videos and grooming tips for both men and women. He is an alumnus of D. J. Sanghvi College Of Engineering, EXTC, Batch of 2015. He started off his YouTube channel ‘BeepBiceps’ in 2015 with a mindset of educating the younger generation with the various fitness hacks and wellness tips. Initially, BeerBiceps started off as a fitness and cooking channel, primarily his two biggest passions at the time. Over the course of running this channel, he discovered his passion for teaching and motivating people. Now, it is considered to be one of the most lucrative and famous Indian channel on Youtube.
IEEE Brainwaves is obliged to have Ranveer Allahbadia as one of our mentors . Interested IEEE members will get a chance to work as Creative Writing interns and Marketing interns under his mentorship.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/homepage/ranveer2.jpg" alt="Generic placeholder image">
    </div>
  </div>
  </div>

<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette" id = "Viraj">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Viraj Padte <span class="text-muted"></span></h2>
      <p class="lead">Mr. Viraj Padte began the session by putting forth his plans for the program wherein he plans to give an overall understanding of various technologies used for implementation of a robust and scalable end to end IOT solution. He moved ahead by walking the attendees through basics of IOT and introduced the pre-requisites for the program, Python programming, Node.js, Protocols/Technologies etc. Understanding of cloud computing, modeling and deployment of IOT solutions etc. are some of the outcomes he would like to achieve by the end of the program. He asked the students to go through online courses relating to IOT. Mr. Viraj Padte ended the session by asking the students to go through the things introduced in the session and read up more on the subject before coming back again with their areas of interest.The Session was conducted via Skype on 25th January 2018. The main topic of discussion was IOT and the inroads it is making in various sectors. It was a part of the Mentorship program under IEEE Brainwaves. </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/homepage/viraj1.jpg" alt="Generic placeholder image">
    </div>
  </div>
  </div>

<div class="container">


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"> Hiloni Punatar <span class="text-muted"></span></h2>
      <p class="lead">Data Analytics is a new term for many people, “Data Analytics refers to qualitative and quantitative techniques and processes used to enhance productivity and business gain.” Data is extracted, acknowledged and bifurcated to identify and analyse behavioural data, techniques and patterns can be dynamic according to a particular business’s need or requirement. Data Analytics is a broader term that has analysis as a subhead and analytics is basically the concepts used to do the analysis.
Ms. Hiloni Punatar will be presenting the students with an opportunity to intern as a data analyst. Prior to the internship the students will go through a series of filtering processes. This process of selecting the best of the lot will be under taken by Ms.Saumya Jagata in tandem with Ms Hiloni Punatar. Ms.Saumya Jagata will introduce the students to the basics of data analysis and make them familiar with the required prerequisites. The selection process will involve the mentees undertaking a small project, based on their performance, two students will be assigned as mentees to Ms. Hiloni Punatar.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/homepage/hiloni.jpg" alt="Generic placeholder image" >
    </div>
  </div>
  </div>
  </div>

<div class="container">


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Siddhant Gangapurwala<span class="text-muted"></span></h2>
      <p class="lead">Siddhant graduated from D. J. Sanghvi College of Engineering in 2016 where his primary focus was on Embedded Systems for Robotic applications.
The Session was conducted in the Library Seminar hall on 20th January 2018. The main topic of discussion was Robotics and its advancements in the modern industries. It was a part of the mentor-ship program by one of our mentors and Alumnus, Mr. Siddhant Gangapurvala. It was conducted via Skype as he is currently based in UK, pursuing his PhD in Autonomous Intelligent Machines and Systems. He shared his experience so far and gave an insight into Machine Learning, Neural Networks and Data Analytics.He stressed on the importance of having a good base in Mathematics if one wants to pursue a career in the aforementioned fields. A few interesting questions were raised by the students’ side as well regarding certain topics to which he provided solutions and alternatives. He introduced the basics of Robotics and the prerequisites that would be required. He also encouraged the students to pursue online courses in Mathematics, Data Analytics and Machine Learning from eminent institutions like MIT, University of California as well as websites like Coursera and Udacity. He then went on to talk about the possible problems students may run into and some steps as to how they can overcome those by themselves. While emphasizing on learning new subjects, he gave some tips regarding group studies its benefits. He ended the session by assigning a simple task to the students to go through the various topics and follow up with what they prefer and choose .</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto " src="/assets/homepage/siddhant1.jpg" alt="Generic placeholder image">
    </div>
  </div>
  </div>

<%include partials/footer.ejs%>



</body>

</html>
