<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../assets/favicon.png">

  <title>IEEE BrainWaves|Wie</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./assets/homepage/homepage.css" rel="stylesheet">
</head>


<body>
<%include partials/navbar.ejs%>

  <div class=" jumbotron fluid text-white" style="background: #00429a;" height="70px">
    <div class="container">
      <h1 style="padding-top:50px">Women In Engineering</h1>
      <p>WIE Affinity Group</p>
    </div>
  </div>

<div class="container">
  <h2>About IEEE WIE</h2>

  <h6>IEEE Women in Engineering (WIE) is a global network of IEEE members and volunteers dedicated to promoting women engineers and scientists, and inspiring girls around the world to follow their academic interests in a career in engineering and science.

IEEE is the world’s largest technical professional organization dedicated to advancing technology for the benefit of humanity.</h6>

<h2>Mission & Vision</h2>
<h6>Our goal is to facilitate the recruitment and retention of women in technical disciplines globally. We envision a vibrant community of IEEE women and men collectively using their diverse talents to innovate for the benefit of humanity.</h6>
</div>
<%include partials/footer.ejs%>


</body>

</html>
