<%include partials/navbar.ejs%>

<div class="jumbotron fluid text-white" style="background: #00429a;" height="70px">
  <div class="container">
    <h1 style="padding-top:50px">Workshops At IEEE BrainWaves</h1>
    <p style="padding-top:20px">Hands-On</p>
  </div>
</div>

<div class="container">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Triguni <span class="text-muted">Vivek Nar</span></h2>
      <p class="lead"> </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/homepage/machinecraftiv.jpg" alt="Generic placeholder image">
    </div>
  </div>
</div>

<div class="container">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Iot Workshop <span class="text-muted">Eduvance</span></h2>
      <p class="lead"> </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/homepage/machinecraftiv.jpg" alt="Generic placeholder image">
    </div>
  </div>
</div>

<%include partials/footer.ejs%>
