<!doctype html>
<html>

<head>
  <link rel="icon" href="../assets/favicon.png">
  <title>IEEE BrainWaves|Workshops</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="./assets/homepage/homepage.css" rel="stylesheet">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9124490403277171",
    enable_page_level_ads: true
  });
</script>
<script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>

</head>
<body>
<%include partials/navbar.ejs%>
<div class="jumbotron text-white" style="background: #00429a;" height="20px">
  <div class="container">
    <h1 style="padding-top:50px">Workshops At IEEE BrainWaves</h1>
    <p>Hands-On</p>
  </div>
</div>

 <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Triguni <span class="text-muted">Vivek Nar</span></h2>
      <p class="lead">  The Triguni workshop which was organised by IEEE, conducted by Professor Vivek Nair of Electronics department was a roaring success. It was a three days workshop been held on 28th, 29th and 30th of March. The workshop saw a total of 52 participants which were further divided in the team of four students. The students had an amazing experience learning about building the wireless, autonomous
Robots. The workshop gave them a wonderful opportunity to explore in Robotics field. Each group was assigned to make one bot and there was also a competition been conducted in those three days which was won by Harmin Naik and his team from Electronics department, Second year. Overall, each participant got a platform to explore and the competition provided the spirit to learn more and more.
 </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/gallery/triguni3.jpg" alt="Generic placeholder image">
    </div>
  </div>
</div>

<div class="container">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Iot Workshop <span class="text-muted">Eduvance</span></h2>
      <p class="lead">The IoT workshop which was organised by IEEE , conducted by Eduvance on the 16th,17th and 18th of January 2019 was a roaring success. The workshop saw a total of 16 participants who were personally guided throughout the workshop by the Eduvance team. The students had an amazing experience learning IoT from the basics. The workshop gave them a chance to learn basics of embedded C as well as interfacing which included LCD as also sensor interfacing. Uploading and getting data from the IoT cloud was another concept which was well covered by the team. They were also introduced and taught serial communication and ADC. The workshop witnessed great hospitality from the IEEE team who ensured that everything functioned smoothly throughout the span of 3 days. Overall the event proved to be a fruitful experience and was well received by all the participants. </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/workshop/Iot.jpg" alt="Generic placeholder image">
    </div>
  </div>
</div>
<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-9124490403277171">
</amp-auto-ads>
<%include partials/footer.ejs%>
</body>
</html>
