<!doctype html>
<html>

<head>
  <link rel="icon" href="../assets/favicon.png">
  <title>IEEE BrainWaves|Workshops</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="./assets/homepage/homepage.css" rel="stylesheet">

</head>
<body>
<%include partials/navbar.ejs%>
<div class=" text-white" style="background: #00429a;" height="20px">
  <div class="container">
    <h1 style="padding-top:50px">Workshops At IEEE BrainWaves</h1>
    <p>Hands-On</p>
  </div>
</div>

<!--  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Triguni <span class="text-muted">Vivek Nar</span></h2>
      <p class="lead"> </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/workshop/Iot.jpg" alt="Generic placeholder image">
    </div>
  </div>
</div>-->

<div class="container">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Iot Workshop <span class="text-muted">Eduvance</span></h2>
      <p class="lead">The IoT workshop which was organised by IEEE , conducted by Eduvance on the 16th,17th and 18th of January 2019 was a roaring success. The workshop saw a total of 16 participants who were personally guided throughout the workshop by the Eduvance team. The students had an amazing experience learning IoT from the basics. The workshop gave them a chance to learn basics of embedded C as well as interfacing which included LCD as also sensor interfacing. Uploading and getting data from the IoT cloud was another concept which was well covered by the team. They were also introduced and taught serial communication and ADC. The workshop witnessed great hospitality from the IEEE team who ensured that everything functioned smoothly throughout the span of 3 days. Overall the event proved to be a fruitful experience and was well received by all the participants. </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/workshop/Iot.jpg" alt="Generic placeholder image">
    </div>
  </div>
</div>

<%include partials/footer.ejs%>
</body>
</html>
